<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <h2 for="description">Comment </h2>
            <textarea rows="5" class="form-control" name="comment[text]" id="comment_text"></textarea>
        </div>



        <div class="form-group">
            <input type="submit" name="commit" value="Create Comment" data-disable-with="Create Comment"  class="btn btn-primary">
            <a type="submit" class="btn btn-primary" href="/">Cancel</a>

        </div>
        <div class="form-group">
            <h3> Add File</h3>
            <%= form.file_field :image, direct_upload: true %>
        </div>



      </div>

<% end %>
