<div class="container">
 <div class="row">
     <div class="col8">
        <div class="post_area">

          <div class="form-group">
            <h2> Comment: </h2>
            <br>
            <%= @comment.text %>
          </div>
          <a><%= link_to('Back to Post', '/posts/'+Post.find(@comment.post_id).id.to_s )%></a>
        </div>

      </div>
    </div>
  </div>




<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
