.cuadros {
  background-color:#FBF5EF;
  margin-top: 10%;
  margin: auto;
  width: 90%;
  left: 50%;
  border: 2px solid #F78181;
  padding: 20px;
  display: flex;
  border-radius: 10px;
}
.cuadrosSign{
  float: right;

}
.cuadrosLogin{
  float: left;
  margin-right: 20px;
}
.lineaInUp{
  background-color:#F78181;
  float: left;
  margin-right: 20px;
}
.loginBtn{
  margin-top: 5%;
  width: fit-content ;
  position: relative;
}
