.name{
  font-size: 22px;
}
#tops{
  display: flex;
}
#likedP{
  font-weight: bold;
  color: #ff4900;
  text-align: center;
}
#unlikedP{
  font-weight: bold;
  color: #ff4900;
  text-align: center;
}
