// Place all the styles related to the Walls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.image_wall {
  display: inline;
}

.parrafo {
  text-align: justify;
}
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}


.btn-blog {
   color: #ffffff;
   background-color: #ea9c0b;
   border-color: #37d980;
   border-radius:0;
   margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
   color: white;
   background-color:#ea9c0b;
   border-color: #ea9c0b;
}
h2{color:#ea9c0b;}
.margin10{margin-bottom:10px; margin-right:10px;}
